/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #484848;
  width: 100%;
}

/* Styling for the entire keyboard container */
.keyboard-container {
  display: flex;
  justify-content: space-between;
  margin: 120px auto;
  max-width: 1450px;
}

/* Styling for the main keyboard */
.main-keyboard {
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 5px; /* Remove padding for the entire keyboard */
  flex: 1;
}

/* Styling for the buttons on the main keyboard */
.main-keyboard button {
  margin: 5px;
  width: 70px;
  height: 70px;
  font-size: 18px;
  background: #d8d8d8;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

.main-keyboard button:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: white;
}

.main-keyboard button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #fff;
}

/* Styling for the keypad */
.keypad {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 10px; /* Add some padding to the keypad */
}

/* Styling for the keypad rows */
.keypad .row {
  display: flex;
  justify-content: space-between;
}

/* Styling for the buttons on the keypad */
.keypad button {
  margin: 5px;
  width: 60px;
  height: 70px;
  font-size: 18px;
  background: #d8d8d8;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}

.keypad button:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: white;
}

.keypad button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #fff;
}


/* Styling */

.oneBtn{
    width: 90px !important;
  }
  .twoBtn{
    width: 128px;
  }
  .threeBtn{
    width: 110px !important;
  }
  .fourBtn{
    width: 125px !important;
  }
  .space{
    width: 390px !important;
  }
  .four button{
    width: 60px;
  }
  .enter1{
    width: 150px !important;
  }
 
  .zero{
    width: 150px !important;
  }
