/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #484848;
  width: 100%;
}
/* Styling for the entire keyboard */
.keyboard{
  margin: 120px auto;
  width: 1450px;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 0; /* Remove padding for the entire keyboard */
}

/* Styling for the buttons */
button{
  margin: 5px;
  width: 60px;
  height: 70px;
  font-size: 18px;
  background: #d8d8d8;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}
button:hover{
  border: 2px solid #fff;
  background-color: transparent;
  color: white;
}
button:active{
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #fff;
  }
i{
  font-size: 22px;
}
.delete{
  width: 100px;
}
.oneBtn{
  width: 100px;
}
.twoBtn{
  width: 128px;
}
.threeBtn{
  width: 146px;
}
.fourBtn{
  width: 135px !important;
}
.space{
  width: 435px !important;
}
.four button{
  width: 60px;
}
.Num{
  width: 80px;
}
.zero{
  width: 135px !important;
}
.plus{
  height: 135px;
}
.enter{
  height: 135px;
}